* {
  font-family: 'Courier New', Courier, monospace;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
}

.sketchboard {
  padding: 2px;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 600px;
  border: 5px solid black;
}

.column {
  display: flex;
  justify-content: center;
  height: 100%;
}

.cell {
  width: 100%;
  outline: auto;
}

.cell-black {
  background-color: black;
}
